.experience {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;

  & .subtitle {
    color: #d2d1d1;
  }

  & .experience-description {
    font-size: 1.5rem;
    line-height: 1.3;
    max-width: 40ch;
    margin-bottom: 60px;
    color: #525252;
    & strong {
      color: #141414;
    }
  }

  & .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background: #f5f5f5;
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
    gap: 10px 20px;

    &::before {
      content: "";
      display: block;
      width: 4px;
      height: 20px;
      background: linear-gradient(#8b52c9, #ab85ee);
      position: absolute;
      top: 20px;
      left: -4px;
    }

    & .project-year {
      position: absolute;
      top: 22px;
      left: -100px;
      text-align: right;
      width: 80px;
      color: #525252;
      font-size: 0.875rem;
    }

    & .project-title {
      font-size: 1.125rem;
      line-height: 1.1;
      font-weight: bold;
    }

    & .project-description {
      color: #525252;
      font-size: 0.875rem;
      line-height: 1.4;
    }

    & .project-stack {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      align-content: start;
      & li {
        font-size: 0.875rem;
        line-height: 1.4;
        border-radius: 4px;
        background: #9b67d2;
        padding: 5px 10px;
      }
    }
  }
}

@media (max-width: 800px) {
  .experience {
    grid-template-columns: 1fr;
    gap: 40px;

    & .subtitle {
      color: #141414;
    }

    & .project-description {
      font-size: 1.25rem;
    }

    & .project-year {
      position: initial !important;
      order: 1;
      width: initial !important;
      text-align: left !important;
    }
  }
}

@media (max-width: 400px) {
  .projects {
    grid-template-columns: 1fr !important;
  }
}
